@import 'colors'

#board

  .field
    .card-spacing
      width: 20%
      padding: 10px
      float: left
    .deck
      .inner
        width: 100%
        height: 100%
      &.level1 .inner
        background-color: green
      &.level2 .inner
        background-color: orange
      &.level3 .inner
        background-color: blue
    .card
      .discount-color
        width: 25px
        height: 30px
    .board-tokens
      text-align: center
      margin-top: 10px
      .token
        width: 50px
        height: 50px
        border-radius: 25px
        display: inline-block
        text-align: center
        line-height: 50px
        margin: 5px 10px
        cursor: pointer