@import 'colors'

.card
  position: relative
  cursor: pointer
  border-width: 1px
  border-style: solid
  padding: 10px
  height: 150px
  .tokens
    position: absolute
    bottom: 10px
    right: 10px
    .token-color
      width: 10px
      height: 10px
      display: inline-block
      margin-right: 5px
      border-radius: 7px
  .discount-color
    width: 15px
    height: 20px
    display: block
    position: absolute
    right: 10px
    top: 10px
  .blue
    background-color: blue
  .white
    background-color: white
  .black
    background-color: black
  .green
    background-color: green
  .red
    background-color: red
  &.level1
    border-color: green
  &.level2
    border-color: orange
  &.level3
    border-color: blue