@import 'colors'
@font-face
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Regular.ttf');
@font-face
  font-family: 'RobotoMonoBold';
  src: url('../fonts/RobotoMono-Bold.ttf');


body
  background-color: dark-gray
  font-size: 12px
  #react-view
    color: light-gray
    font-family: Roboto, 'Helvetica Neue', Helvetica
    background-color: dark-gray
    #content
      margin-top: 50px
  h1
    font-size: 36px
    font-weight: 200
    text-transform: uppercase
    letter-spacing: 1px
    color: light-gray
  h2
    font-size: 26px
    font-weight: 200
    text-transform: uppercase
    letter-spacing: 1px
    color: light-gray
  h3
    font-size: 20px
    font-weight: 200
    text-transform: uppercase
    letter-spacing: 1px
    color: light-gray
  h6
    font-size: 14px
    font-weight: 200
    text-transform: uppercase
    color: light-gray
  a
    cursor: pointer
    color: light-gray
    font-family: RobotoMonoBold
    text-decoration: none
  a:hover
    color: #FFF
    text-decoration: none

  .btn-primary
    background-color: itbit-yellow
    border: none
    color: #333
    text-transform uppercase
    border-radius: 2px
    font-size: 14px
    font-weight: 500
    padding: 5px 17px
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:target
    background-color: #EDA200
    color: #333

  .navbar
    height: 50px
    background-color: menu-gray
    position: fixed
    width: 100%
    z-index: 10
    top: 0
    border: none
    input
      margin-right: 10px

  .link
    cursor: pointer
    color: link-blue
  .container
    width: 100%
    margin: 0
  .row
    margin: 0
  .float-right
    float: right

  .token
    color: white
    &.blue
      background-color: blue
    &.white
      color: black
      background-color: white
    &.black
      background-color: black
    &.green
      background-color: green
    &.red
      background-color: red
    &.gold
      background-color: gold

  .modal-content
    background-color: content-gray
    h4
      color: white
      display: inline-block
      margin-right: 15px
    input, input[disabled], select
      background-color: dark-gray
      color: light-gray
      border: 1px solid menu-gray
    .btn-primary
      background-color: itbit-yellow
      border: none
      color: #333
      text-transform uppercase
      border-radius: 2px
      font-size: 14px
      font-weight: 500
      padding: 5px 17px
      width: 100%
      margin-top: 25px
    .btn-primary:hover, .btn-primary:active:focus, .btn-primary:active, .btn-primary:focus, .btn-primary:target
      background-color: #EDA200
      color: #333
    .glyphicon
      cursor: pointer
    .glyphicon-plus
      color: itbit-green
    .glyphicon-remove
      color: itbit-red
    .form-group
      text-align: right
      label
        display: inline-block
        text-align: left
        width: 25%
        color: light-gray
        font-size: 13px
        font-weight: 300
      input, select
        display: inline-block
        width: 75%
      input[submit]
        width: initial
    .form-group:last-child
      margin-bottom: 0

    .token-selection > div
      display: inline-block
    .selected-tokens
      float: right
    .token
      width: 50px
      height: 50px
      border-radius: 25px
      display: inline-block
      text-align: center
      line-height: 50px
      color: #fff
      margin: 5px 10px
      cursor: pointer

  .modal-header
    text-align: center
    span
      font-size: 23px
      font-weight: 400
      color: #FFF

  &.modal-open
    overflow: scroll !important
    #game
      margin-top: 150px
  .modal-backdrop
    opacity: .3 !important
  .modal-dialog
    width: 100%
    margin: 0