@import 'colors'

#login
  position: absolute
  width: 100%
  top: 0
  bottom: 0

  form
    margin-top: 200px
    input
      margin-bottom: 10px
    button
      width: 100%
      background-color: itbit-yellow
      color: black
      border: none
    .error-message
      color: itbit-red
      text-align: center
      margin-top: 10px