@import 'colors'

.player
  .header
    background-color: medium-gray
    color: white
    border-radius: 3px
    padding: 1px 10px
    margin-bottom: 5px
  .reserved
    text-align: right
    .card-spacing
      margin: 0
    .card
      display: inline-block
      width: 57px
      height: 68px
      padding: 5px
      .points
        position: absolute
        top: 5px
        left: 5px
      .discount-color
        width: 10px
        height: 15px
        right: 5px
        top: 5px
      .tokens
        bottom: 5px
        right: 5px
        .token
          height: 11px
          .count
            font-size: 10px
          .token-color
            width: 5px
            height: 5px

  .owned-tokens
    .token
      height: 30px
      width: 30px
      border-radius: 20px
      line-height: 30px
      text-align: center
      .count
        font-size: 13px
        color: white